<div class="b-wrapper">
    <app-header></app-header>
    <div class="container">
        <hr style="color: rgba(46, 17, 209, 0.568);">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" fill="blue" class="bi bi-lock-fill" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
              </svg>
        </div>
        <hr style="color: rgb(29, 102, 161);">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <div class="button">
            <button class="w-100 btn btn-lg btn-primary" type="submit" >Sign in</button>
          </div>
    </div>   
    <app-copyright></app-copyright>
</div>
